@import "tailwindcss";
@theme {
  --color-pink-main: #ff6781;
  --color-gray-main: #848484;
  --color-ui-header-main: #ffdce2;
  --color-ui-editer-bk-main: #1a1a1a;
  --color-ui-sidebar-bk-main: #ddddddde;
  --color-ui-terminal-bk-main: #55555f;

  --color-ui-header-text: #4d4d4d;
  --color-ui-sideber-text: rgb(78, 78, 78);

  --color-ui-editer-text: #ffffff;
  --color-ui-editer-comment: -oklch(55.1% 0.027 264.364);
  --color-ui-editer-container: oklch(90.5% 0.182 98.111);
  --color-ui-editer-class: oklch(79.2% 0.209 151.711);
  --color-ui-editer-div: oklch(70.7% 0.165 254.624);
  --color-ui-editer-inequality: oklch(70.7% 0.022 261.325);
  --color-ui-editer-doctipe: oklch(71.4% 0.203 305.504);
  --color-ui-editer-html: oklch(80.9% 0.105 251.813);

  --color-ui-editer-strict: oklch(80.9% 0.105 251.813);
  --color-ui-editer-import: rgb(181, 255, 251);
  --color-ui-editer-skills: rgb(255, 225, 58);

  --font-ui-editer-comment: italic;
}
